/* 
Template-Styles.CSS
Author : Tristan LATERROT
@ : t.laterrot@gmail.com
Date : 2022-03-17
Version : v-1.0
Code : CSS 3
*/

/*
Valeurs du plus petit au plus grand
0,0,0 : sélecteur universel *, et style du navigateur
0,0,1 : sélecteur d’élémentsdiv,p
0,1,0 : une classe .my-class
0,1,0 : une sélecteur d’attribut [class*="col-"]
0,1,0 : une pseudo-classe :only-of-type
1,0,0 : un ID #my-id
1,0,0,0 : un style en ligne <ul style="padding: 0;">...</ul>
1,0,0,0,0 : !important
*/

/* ------------------------------------------------------------------- */
/* GLOBAL */
/* ------------------------------------------------------------------- */

/* Typo */
/* -----------------------------*/

/* Other */
/* -----------------------------*/


/* Links */
/* -----------------------------*/

/* Forms */
/* -----------------------------*/

/* Tables */
/* -----------------------------*/

/* Buttons */
/* -----------------------------*/

/* ------------------------------------------------------------------- */
/* LAYOUT */
/* ------------------------------------------------------------------- */

/* header */
/* -----------------------------*/

/* nav */
/* -----------------------------*/

/* main */
/* -----------------------------*/

/* aside */
/* -----------------------------*/

/* footer */
/* -----------------------------*/